*,
*::before
*::after {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;}
.container{
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
  .header {
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: var(--WHITE, #FFF);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);}
.header-container  {
  display: flex;
 justify-content: space-between;
 align-items: center;
 }
.heder-nav {
display: flex;
  align-items: center;
  margin: 0;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
margin-right:76px;}

.header-dark {
  color: #2e2f42;
}

.header-list {
    display: flex;
      gap: 40px;
    }

.item-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* navvv */

.link {
  color: var(--NAVY-BLUE, #2E2F42);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
    display: block;
    position: relative;
      transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.header .studio{color: var(--OCEAN, #404BBF);

}
.studio::after {
content: '';
  position: absolute;
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
  margin-top: 20px;
  bottom: -1px; }
  
.heder-contat {
  font-style: normal;
}

.list-contact {display: flex;
  gap: 40px;
}

.item-contact {
}
/* sgv */
.link-cont:hover {
  color: #404bbf;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-contact {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contact:hover,
.link-contact:focus {
  color: #404bbf;
}
.main-section {
  background: #2e2f42;
    padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg );
  background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
        margin-right: auto;
          margin-left: auto;

}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
  
}

.main-button {
  color: #fff;
  background: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;}
.main-button:hover, .main-button:focus {
  background: #404bbf;
}

.main-plan {padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-subtitle {
      margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;

}

.main-list {display: flex;
  gap: 24px;


}

.main-item {width: calc((100% - 72px)/4);
}
.iconki { width: 264px;
  height: 112px; border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8E8F99);
  background: var(--CLOUD, #F4F4FD);
margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;}

.main-h {
    margin-bottom:  8px;
  color:  #2E2F42;

font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
  
  
}
.main-p {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-photo {background-color: #f4f4fd;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
   padding: 120px 0;
 
}
.main-subtitle-photo {
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
     margin-bottom: 72px;
}

.section-photo-list {
    display: flex;
      gap: 24px;
}

.photo-item { 
  width: calc((100% - 72px)/4);
background-color: #fff;
    border-radius: 0px 0px 4px 4px;
             box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
             0px 1px 1px 0px rgba(46, 47, 66, 0.16),
             0px 1px 6px 0px rgba(46, 47, 66, 0.08); }



.photo-box {
  text-align: center;
  padding: 32px 0;
  gap: 32px;
  
}


 
.photo-h {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
 }

.photo-p {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ikonki-s {display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
margin-top: 8px;
}
.ikonki-li{
  width: 40px; height: 40px;
}
.ikonki-link{
 display: flex;
 align-items: center;
 justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ikonki-link:hover, 
.ikonki-link:focus { background-color: #404bbf;}
.ikonki-pohoto{
  fill: currentColor;
}
/* section-images 4 */
.section-images {background-color: #FFF;
  padding: 120px 0 120px 0; }

  .main-subtitle-images {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}

.images-list {
  background-color: #ffffff;
  display: flex;
    flex-wrap: wrap;
  column-gap: 24px;
    row-gap: 48px;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.images-item {
width: calc((100% - 48px) / 3);

}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-item:hover .overlay-text {

  transform: translateY(0%); }

.images-item:hover {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);}



  .images-box {padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
  
}

.imagess {overflow: hidden;}

.images-h {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
margin-bottom: 8px;}
.images-p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background: #2e2f42;
padding: 100px 0;}
.container-footer {
  display: flex;
    background-color: #2E2F42;
    align-items: baseline}
    .box-logo-footer {
        margin-right: 120px;
      }

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
    margin-bottom: 16px;}

.logo-white {
  color: #f4f4fd;
}

.footer-p {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;}
.footer-ikon {display: block;
  }

.footer-ul{ display: flex;
  width: 208px;
gap: 16px;}
  
.social-footer {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  line-height: 1.5;
letter-spacing: 0.02em;
}
.footer-li{
  display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    position: relative;
    color: #F4F4FD;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .footer-li:hover,
.footer .footer-li:focus {
  background-color: #31d0aa;
}
.footer-ikonki-link{display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4D5AE5;
  position: relative;
  color: #F4F4FD;
}
.iconki-pohoto {
  fill: #f4f4fd;}

    